<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
	    <ul class="navbar-nav ml-auto text-center">
	      <li class="nav-item">
	        <a class="nav-link" routerLink="/diccionario">Diccionario</a>
	      </li>
	    </ul>
  </div>
  <div class="mx-auto  order-0 order-md-1 position-relative">
  		<ul class="navbar-nav text-center">
	        <li class="nav-item">
		    	<a class="nav-link" routerLink="/">Inicio</a>
		    </li>
		</ul>
  </div>
  <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
	        	<a class="nav-link" routerLink="/numeros">Números</a>
	      	</li>
        </ul>
    </div>
</nav>