.table td, th{
	width: 3%;
	text-align: center !important;
}

.table th{
	background-image: linear-gradient(to top right, rgb( 13, 194, 238 ), rgb( 13, 231, 238 ));
	color: white;
}
.table td{
	background-image: linear-gradient(to top right, rgb( 162, 184, 185 ), rgb( 125, 144, 144 ));
}

.dict-table{
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn-rounded{
	border-radius: 12px;
}

